{% extends 'restraunts/index.html' %}

{% block heading %} Add New Restrant {% endblock %}
{% block table %}
<form class="form p-3" method="post">
    {% csrf_token %}
    {% if success %}
    <h3 class="alert alert-success">Restraunt added successfully!</h3>
    {% endif %}
    <div class="form-group">
        <label for="name">Restraunt Name</label>
        <input class="form-control" name="name" placeholder="5 Star restraunt"/>
    </div>
    <div class="form-group d-flex">
        <button class="btn btn-primary ml-auto">Add Restraunt</button>
    </div>
</form>

{% endblock %}